<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
  <meta charset="UTF-8">
  <title>My Book List</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <table id="myTable" class="table display">
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Price</th>
      <th>Category</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
      <td th:text="${book[0]}"></td>
      <td th:text="${book[1]}"></td>
      <td th:text="${book[2]}"></td>
      <td th:text="${book[3]}"></td>
      <td th:text="${book[4] == null ? 'N/A' : book[4]}"></td>
      <td>
        <a th:href="@{/books/edit(id=__${book[0]}__)}">Edit</a>
        <a th:href="@{/books/delete(id=__${book[0]}__)}"
           onclick="return confirm('Are you sure?')">Delete</a>
      </td>
    </tbody>
  </table>
</div>

<th:block th:replace="layout :: footer"></th:block>
</body>
</html>
